.filter-currency-wrapper {
  width: 202px;
  height: 70px;
  padding: 1rem;
  
  .currency-label {
    width: 48,94px;
    height: 19px;
    color: #4a4a4a;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
  }

  .currens-selectors {
    padding-top: 0.7rem;
    border-radius: 0.1rem;
    display: flex;
    button {
      width: 68px;
      height: 40px;
      box-shadow: none;
      font-size: 12px;
      font-style: normal;
      font-stretch: normal;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0px;
      cursor: pointer;
    }
    :first-child {
      border-bottom-left-radius: 0.3rem;
      border-top-left-radius: 0.3rem;
    }
    :last-child {
      border-bottom-right-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
    }
    .general {
      border: 1px solid #d2d5d6;
      background: #ffffff;
      color: #2196f3;
      &:hover {
        border: 1px solid #64b5f5;
        background: #f2fcff;
      }
    }
    .selected {
      background: #2196f3;
      color: #ffffff;
      border: none;
      box-shadow: none;
    }

  }
}